{% extends "base.html" %}
{% load static %}

{% block site %}Sheets Section{% endblock %}

{% block content %}
<div class="main">
    <div class="myCheatSheets">
        <h1>My CheatSheets Section</h1>
    </div>
    <div class="addCheat">
        <!-- React Animation -->
        <div id="react-container">
            <div class='accordion'>
                <div class="titleConsult">
                    <div class=title>
                        <h1>Python</h1>
                        <span>+</span>
                    </div>
                    
                   
                    <ul class=ulConsult>
                        <li>Functions
                            <ul>
                                <li>positional functions</li>
                                <li>Que pedo</li>
                            </ul>
                        </li>
                    
                        <li>Lambda</li>
                    </ul>
                    
                </div>

                <div class="titleConsult">
                    <div class=title>
                        <h1>Pandas</h1>
                        <span>+</span>
                    </div>
                    
                   
                    <ul class=ulConsult>
                        <li>Functions
                            <ul>
                                <li>positional functions</li>
                                <li>Que pedo</li>
                            </ul>
                        </li>
                    
                        <li>Lambda</li>
                    </ul>
                    
                </div>
                
            </div>
            

           
        </div>
         <!-- add button -->
        <button class='btnAdd'>
            <i class="fas fa-plus"></i>
        </button>
        
       
    </div>

    
</div>  
{% endblock %} 

